<%- include('../partials/header'); %>

<h1>Chercher des cartes</h1>

<h3>Par élément</h3>
<form action="/search/element" method="get">
  <select name="element" id="element">
    
    <% for (const elements of element) { %>
      <option value="null"><%=element.element%></option>
    <% } %>
    
  </select>
  <input type="submit" value="Chercher">
</form>

<hr>


<%- include('../partials/footer'); %>